In [21]:
households = pd.read_csv('caltrans_full_survey/survey_households.csv')
places = pd.read_csv('caltrans_full_survey/survey_place.csv')
persons = pd.read_csv('caltrans_full_survey/survey_person.csv')
vehicles = pd.read_csv('caltrans_full_survey/survey_vehicles.csv')

/Users/uditnakhat/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/uditnakhat/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/uditnakhat/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,46,50,51,102,105,120) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

42426

In [ ]:
from sklearn import svm

In [ ]:
clf = svm.SVC()
clf.fit(X, y)

In [92]:
notrequired_columns = ['recruite', 'incentive', 'sample_type', 'cec_sample', 'non_relative_flag',
                       'strata', 'mpo_sample', 'mtc_finalflag','buyer1', 'home_state_id',
                       'buyer2', 'buyer3', 'buyer4', 'buyer5', 'buyer6', 'buyer7', 'buyer8',
                       'ldper1', 'ldper2', 'ldper3', 'ldper4', 'ldper5', 'ldper6', 'ldper7',
                       'noveh3', 'noveh4', 'noveh5', 'noveh6', 'noveh7', 'noveh8', 'gps_mtc',
                       'ldper8', 'hhwgt', 'exphhwgt', 'geom', 'complete_all', 'complete_gps',
                       'sampno', 'hispanic_flag', 'assn', 'recruite_date', 'home_block_id',
                       'home_tract_id']
trimmed_households = households_ba.drop(notrequired_columns, axis=1)

In [93]:
notrequired_columns = ['nrel_agebin', 'education_other', 'has_diary', 'race3', 'race4', 'race_other',
                       'transit_pass_t3', 'transit_pass_t4', 'transit_pass_t5', 'transit_pass_t6', 'transit_pass_t7',
                       'transit_pass_other', 'clipper_card_t1', 'clipper_card_t2', 'clipper_card_t3', 'compass_card',
                       'typs_ex_pass_card', 'empl_status_other', 'empl_industry_other', 'empl_occupation_other',
                       'empl_name', 'empl_state', 'empl_cross_street1', 'empl_cross_street2', 'empl_block_id',
                       'empl_tract_id', 'empl_state_id', 'empl_county_id', 'empl_lon', 'empl_lat', 'workday_mon',
                       'workday_tue', 'workday_wed', 'workday_thurs', 'workday_fri', 'workday_sat', 'workday_sun',
                       'workday_flex', 'workday_flex_opt', 'empl_sec_loc', 'empl_sec_name', 'empl_sec_city',
                       'empl_sec_zipcode', 'empl_sec_state', 'empl_sec_state_id', 'empl_sec_primarycity',
                       'empl_sec_cross_street1', 'empl_sec_cross_street2', 'workday_sec_count', 'dis_type3',
                       'dis_type4', 'dis_type5', 'dis_type6', 'dis_type7', 'dis_other', 'dis_lis_plate', 'dis_reg',
                       'school_grade_other', 'school_home', 'school_pre', 'school_pre_other', 'school_name',
                       'school_city', 'school_zipcode', 'school_state', 'school_cross_street1', 'school_cross_street2',
                       'school_block_id', 'school_tract_id', 'school_county_id', 'school_state_id', 'school_primarycity',
                       'school_lon', 'school_lat', 'transit_subsidy', 'transit_subsidy_amt', 'transit_subsidy_unit',
                       'transit_subsidy_unit_other', 'interview', 'interview_proxy', 'interview_log_complete',
                       'toll_road3', 'toll_road4', 'toll_road5', 'toll_road6', 'toll_road7', 'toll_road8',
                       'toll_road9', 'toll_road10', 'toll_bridge3', 'toll_bridge4', 'toll_bridge5', 'toll_bridge6',
                       'toll_bridge7', 'toll_bridge8', 'toll_bridge9', 'toll_bridge10', 'why_no_trips_other',
                       'incomplete', 'perwgt', 'expperwgt', 'geom', 'sampno', 'hispanic_flag']
trimmed_persons = persons_ba.drop(notrequired_columns, axis=1)

In [63]:
print(places.columns)
#remove irrelevant columns for our analysis
notrequired_columns = ['tripno', 'air_trip_distance_miles', 'tripdistanceflag', 'block_id', 'tract_id',
                       'state_id', 'parked_other_loc_type', 'parked_address', 'parked_unit', 'parked_other_pay_type',
                       'parked_paymen_ne', 'got_out_vehicle', 'transit_system_other', 'perwgt', 'expperwgt',
                       'tcf', 'tcfperwgt', 'exptcfperwgt', 'lon', 'lat', 'route', 'per1', 'per2', 'per3', 'per4',
                       'per5', 'geom', 'perno', 'vehno', 'travel_date']

trimmed_places = places_ba.drop(notrequired_columns, axis=1)

Index([u'sampno', u'perno', u'plano', u'vehno', u'tripno', u'place_name',
       u'travel_date', u'arr_time', u'dep_time', u'mode',
       u'trip_distance_miles', u'air_trip_distance_miles', u'tripdistanceflag',
       u'prev_trip_duration_min', u'act_dur', u'act_cnt', u'block_id',
       u'tract_id', u'county_id', u'state_id', u'place_primarycity', u'city',
       u'zipcode', u'state', u'parked_loc_type', u'parked_other_loc_type',
       u'parked_address', u'parked_minutes', u'parked_payed',
       u'parked_amount_payed', u'parked_unit', u'parked_pay_type',
       u'parked_other_pay_type', u'parked_paymen_ne', u'got_out_vehicle',
       u'transit_system', u'transit_system_other', u'perwgt', u'expperwgt',
       u'tcf', u'tcfperwgt', u'exptcfperwgt', u'tottr', u'hhmem', u'lon',
       u'lat', u'non_hh_members', u'route', u'per1', u'per2', u'per3', u'per4',
       u'per5', u'geom'],
      dtype='object')
Index([u'sampno', u'plano', u'place_name', u'arr_time', u'dep_time', u'mode',
       u'trip_distance_miles', u'prev_trip_duration_min', u'act_dur',
       u'act_cnt', u'county_id', u'place_primarycity', u'city', u'zipcode',
       u'state', u'parked_loc_type', u'parked_minutes', u'parked_payed',
       u'parked_amount_payed', u'parked_pay_type', u'transit_system', u'tottr',
       u'hhmem', u'non_hh_members'],
      dtype='object')
(117345, 24)

In [119]:
## Joining various tables for extracting features
joined_df = trimmed_households.join(trimmed_persons).join(trimmed_places).join(trimmed_vehicles)

# This is done to perform SVM 
new_joined_df=joined_df[['education','gender','fuel_type1']]

print(new_joined_df)

       education  gender  fuel_type1
17           NaN     NaN         1.0
18           NaN     NaN         1.0
19           NaN     NaN         1.0
20           NaN     NaN         1.0
21           NaN     NaN         1.0
22           NaN     NaN         1.0
23           NaN     NaN         1.0
24           NaN     NaN         1.0
25           NaN     NaN         1.0
26           NaN     NaN         1.0
27           NaN     NaN         1.0
28           NaN     NaN         1.0
29           NaN     NaN         1.0
30           NaN     NaN         1.0
31           NaN     NaN         1.0
32           NaN     NaN         1.0
33           NaN     NaN         1.0
34           NaN     NaN         1.0
35           NaN     NaN         1.0
36           NaN     NaN         1.0
37           NaN     NaN         1.0
38           NaN     NaN         1.0
39           NaN     NaN         3.0
40           NaN     NaN         1.0
41           NaN     NaN         1.0
42           NaN     NaN         1.0
43           NaN     NaN         1.0
44           NaN     NaN         1.0
45           NaN     NaN         1.0
46           NaN     NaN         1.0
...          ...     ...         ...
41961        NaN     NaN         1.0
41967        NaN     NaN         NaN
41968        NaN     NaN         NaN
41972        NaN     NaN         1.0
41977        2.0     2.0         NaN
41979        NaN     NaN         NaN
41981        1.0     1.0         NaN
41982        5.0     2.0         NaN
41994        NaN     NaN         1.0
42002        5.0     1.0         1.0
42016        NaN     NaN         NaN
42018        NaN     NaN         1.0
42021        NaN     NaN         NaN
42033        NaN     NaN         1.0
42034        6.0     2.0         1.0
42040        NaN     NaN         NaN
42043        NaN     NaN         NaN
42056        NaN     NaN         NaN
42057        NaN     NaN         NaN
42065        NaN     NaN         1.0
42075        NaN     NaN         NaN
42084        NaN     NaN         NaN
42087        6.0     2.0         NaN
42092        NaN     NaN         NaN
42093        NaN     NaN         NaN
42095        NaN     NaN         NaN
42101        NaN     NaN         1.0
42104        NaN     NaN         1.0
42109        NaN     NaN         NaN
42422        NaN     NaN         1.0

[9715 rows x 3 columns]

In [136]:
####### NEED TO DO SOME DATA CLEANING

In [121]:
# Doing data cleaning. The row which contains NA has to be removed completely

new_joined_df=new_joined_df.dropna(how='any')

In [122]:
new_joined_df

       education  gender  fuel_type1
1636         5.0     1.0         1.0
1646         1.0     1.0         1.0
1648         1.0     1.0         1.0
1662         6.0     1.0         1.0
1707         6.0     2.0         1.0
1714         1.0     1.0         1.0
1728         3.0     2.0         1.0
1737         1.0     1.0         1.0
1757         5.0     1.0         1.0
1758         2.0     2.0         1.0
1765         6.0     1.0         1.0
1777         6.0     1.0         1.0
1778         1.0     2.0         1.0
1790         1.0     1.0         1.0
1863         1.0     1.0         1.0
1891         5.0     1.0         1.0
1892         4.0     1.0         1.0
1930         5.0     2.0         1.0
1953         5.0     2.0         1.0
1954         5.0     1.0         1.0
1984         3.0     2.0         1.0
2018         6.0     2.0         1.0
2019         1.0     1.0         1.0
2036         1.0     1.0         1.0
2039         1.0     2.0         1.0
2079         1.0     1.0         1.0
2085         3.0     2.0         1.0
2097         6.0     1.0         1.0
2117         6.0     1.0         1.0
2168         6.0     1.0         1.0
...          ...     ...         ...
39839        3.0     1.0         1.0
39840        1.0     1.0         1.0
39852        6.0     1.0         1.0
39854        5.0     2.0         1.0
40017        5.0     1.0         1.0
40189        9.0     1.0         1.0
40213        1.0     1.0         1.0
40351        5.0     2.0         1.0
40541        5.0     2.0         1.0
40578        2.0     2.0         3.0
40601        6.0     1.0         1.0
40634        2.0     1.0         1.0
41001        5.0     2.0         1.0
41004        6.0     1.0         1.0
41015        2.0     2.0         1.0
41087        1.0     1.0         1.0
41134        1.0     1.0         1.0
41200        6.0     2.0         2.0
41269        3.0     1.0         1.0
41306        6.0     1.0         1.0
41366        5.0     1.0         1.0
41533        4.0     2.0         1.0
41555        6.0     2.0         1.0
41600        6.0     2.0         1.0
41622        5.0     1.0         1.0
41828        5.0     1.0         1.0
41896        3.0     2.0         1.0
41937        6.0     1.0         1.0
42002        5.0     1.0         1.0
42034        6.0     2.0         1.0

[567 rows x 3 columns]

In [138]:
# Performaing SVM 
X=new_joined_df[['education','gender']]
Y=new_joined_df['fuel_type1']
clf = svm.SVC()
clf.fit(X, Y) 
clf.score(X,Y)

0.96825396825396826

In [130]:
print(clf.predict(X))

[ 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.]

In [132]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [143]:
train_idx = np.random.choice(range(len(new_joined_df)), int(len(new_joined_df) * .8), replace=False)
test_idx = list(set(range(len(new_joined_df))) - set(list(train_idx)))

In [135]:
print(train_idx)

[468 495 306 488 513 233  54  11 255 498  31 428 427 209  13 283 165  25
 299 441  17 457 270 172 318 266 322 327 487 450 514  71 491  97 560 367
 326 288 532 139  39 545  10  52 554 459 458 123 186 316 267   2 257  82
  14 512 236 107   9 447  21  69 135 548 385 243 456 489 389 247 280  29
 378 529 331 342 109 317 477 358 149 158 171 206 204 264 480 310  50  20
  72 415 406  28 140 141 541 396  91 533 228 429 338 152 350 369 120 153
 290 278  92 443 341 105 298 294 445 200 268 279 215 414 253 542 287 493
  33 213  89 543 345 314 227  37 404 421  46 176 499 559 115 199 346 189
 188 449 191 530 438 127 391 159 244 161 413 503 392 518 169 323 256 330
 411  64 424 395 312 442 101  58 183  43 143 222 198  84 103 550 239 193
 455 248 229 201 295 517  51 431 423 526 147 286 129 502 234 519 221  18
 362 269 114 173 521 116 537 166 500 112 511 218 157 561  19 194 282 300
 446 419 235 534 356 163   6  12  70 366 304 273 422 108 460  48 245 552
 551  30 274 525 150 271 509 336 131 224 332 504 370 110 328  80 475 211
 376 557 126 397 352 496 301 203  40 313 448 181 374 179 187 412 360 252
 351 231 325 482 241  49  77 281 121   7  44 315 106 263 137 217  34  24
 333 435 510 539 418  23 195 339 546 523 430  53 420 272   8  73 372 436
  94 375 506 321 408   3 465   0 340 104 344 303 349  76 205 197 180  47
 527 365 162 401 125 354 535  65 260  56 474 258 462 225 452 285 410 490
 216 471 377 296  81 261 425 220 426 472 237 311 154 565  41  96 562 361
 483 380 242 251 124  63 156 383 119 219 210 479 405 379 566 167 196 155
 250  55 492 335  45 309 259 170 386 208 164 556 398 207  60 357 536 440
 146  38  32 223 432 329 175 538 463 439 177 470 184 292 508 476 417 381
 467 393 461 400 254 202 185 160 359 246 133  36 473  62 555  57 337  35
  79 494 558 371 145 142 524 373 305 249 402 343 240 277 238   4 190 308
 214 384 348]